<div class="version1">
 MSP
</div>

<div class="version2">
新規投稿ページ
</div>

<%= form_for @post do |f| %>

<div class="field">
    <%= f.label :歌手名 %>
    <%= f.text_field :who, :size => 30 %>
</div>

<div class="field">
  <%= f.label :曲名 %>
  <%= f.text_field :music, :size => 30 %>
</div>

<div class="field">
   <%= f.label :詳細 %>
   <%= f.text_field :content, :size => 30 %>
</div>

<div class="field">
  <%= f.label :youtube_url %>
  <%= f.text_field :youtube_url, :size => 140 %>
</div>

<div class='form-group'>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
      </div>
  <% end %>
</div>

<div class='version3'>
  <%= f.submit "　　投稿する　　" %>
 <% end %>
</div>

<%= link_to "一覧に戻る", posts_path %>