<div class="version2">
  <div class="link01"><%= link_to 'TOP', :controller => "posts", :action => "top" %></div>
  <div class="link02"><%= link_to '曲を共有', :controller => "posts", :action => "new" %></div>
  <%= link_to '曲を探す', :controller => "posts", :action => "index" %>
</div>

<%= form_for @post do |f| %>

<div class="field">
  <div class="field1"><%= f.label :歌手名 %></div>
    <%= f.text_field :who, :size => 30 %>
</div>

<div class="field">
  <div class="field1"><%= f.label :曲名 %></div>
    <%= f.text_field :music, :size => 30 %>
</div>

<div class="field">
  <div class="field1"><%= f.label :説明 %></div>
    <%= f.text_area :content, :size => "100x2" %>
</div>

<div class="field">
  <div class="field1"><%= f.label :youtube_url %></div>
    <%= f.text_field :youtube_url, :size => 140 %>
</div>

<div class='form-group'>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
      </div>
  <% end %>
</div>

<div class='version3'>
  <%= f.submit "共有する" %>
 <% end %>
</div>

<div class='version4'><%= link_to "曲を探す", posts_path %></div>